*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:800px){
    body{ flex-direction: column;}
}

header{
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav{
    list-style-type: none;
    padding: 0;
}

article{
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height: 300px;
    
}

section::after{
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #777;
    padding:10px;
    text-align: center;
    color: white;   
}

@media (max-width: 600px){
    nav, article{
        width: 100%;
        height: auto;
    }
}